
#carousel-example-generic {
    margin-top: 25px;
}

.sidebar{
    padding-top: 20px;
    padding-bottom: 10px;
}
.img-thumbnail {
    border-radius: 0px;
}
.form-message {
    margin: 20px 0;
}

.panel
{
    border-radius: 0px;
}

.wrap-img {
    height: 185px;
    overflow: hidden;
}

#cke_editor1{
    margin-top: 25px;
}

@media (max-width: 762px) {
    form label {
        margin-top:15px;
    }
    .wrap-img {
        height: auto;
    }
    #cke_editor1{
        margin-top: 25px;
    }
}